name: Auto Update Formulae

on:
  schedule:
    - cron: "0 2 * * *"
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  bump:
    runs-on: macos-latest
    steps:
      - name: Set up Homebrew
        id: set-up-homebrew
        uses: Homebrew/actions/setup-homebrew@main
        with:
          brew-gh-api-token: ${{ secrets.HOMEBREW_GITHUB_API_TOKEN }}

      - name: Tap repository
        run: brew tap ${{ github.repository }} https://github.com/${{ github.repository }}
        env:
          HOMEBREW_GITHUB_API_TOKEN: ${{ secrets.HOMEBREW_GITHUB_API_TOKEN }}

      - name: Bump packages
        uses: Homebrew/actions/bump-packages@main
        with:
          token: ${{ secrets.HOMEBREW_GITHUB_API_TOKEN }}
          formulae: "${{ github.repository }}/nu-scripts ${{ github.repository }}/packwiz"
          fork: false
